<style type="text/css">
    @media only screen and (min-device-width: 1232px) {
        body {
            background: #384452;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Ume%C3%A5_River_View.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px 60px;
        }
    }

    @media only screen and (max-width: 1231px) {
        body {
            background: #384452;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Ume%C3%A5_River_View.jpg");
            background-height: 100%;
            background-repeat: no-repeat;
        }
    }
</style>

<div class="container mt">
    <div class="row">
        <div class="col-lg-12">
            <div class="centering">
                <div id="title_top">May 29th - June 1st, 2017</div>
                <div id="title">NeIC 2017</div>
                <div id="title_bottom">Ume&aring;, Sweden</div>
                {{ page.content | markdownify }}
            </div>
        </div>
    </div>
</div>
